.cover-project {
	hr {
		border-color: rgba(255,255,255,.05);
		margin-bottom: 0;
		margin-top: 0;
	}
}
.item-project {
	padding: 20px 10px 3.4rem 6vw;
    cursor: pointer;

	&.item-project-also {
		cursor: default;
	}

	h3, h3 a {
		font-family: $Proxima_Nova;
		line-height: 1em;
		color: rgba(255,255,255,.25);
		margin-top: 2.7rem;
		margin-bottom: -0.4rem;
		transition: color 0.3s ease;
		font-size: 114px;
		text-decoration: none;
		@media (max-width: 1000px) {
			font-size: 7.6rem;
		}
	}
	p {
		color: rgba(255,255,255,.4);
		font-size: 16px;
		font-size: 1rem;
		font-weight: 300;
		transition: color 0.3s ease;
	}
	strong {
		font-size: 20px;
		font-size: 1.2rem;
		color: rgba(255,255,255,.2);
		text-transform: uppercase;
		display: inline-block;
		margin-top: 6rem;
		margin-bottom: 2.3rem;
	}
	li a {
		font-size: 16px;
		font-size: 1.5rem;
    	line-height: 1.7em;
		color: #fff;
		border-bottom: 1px solid rgba(255,255,255,.25);
		text-decoration: none;
		transition: all 0.3s ease;
		&:hover, &:focus {
			text-decoration: none;
			color: #8f8f8f;
			border-bottom-color: rgba(0,0,0,0.01);
		}
	}
	.fix-width {
		max-width: 200px;
		max-width: 20rem;
	}
	&:hover, &:focus {
		p.item-descr, h3 {
			color: #fff;
		}
	}
}