.cover-project {
	hr {
		border-color: #303030;
		margin-bottom: 0;
		margin-top: 0;
	}
}
.item-project {
	padding: 20px 10px 3.4rem 6vw;
    cursor: pointer;
	h3 {
		font-family: $Proxima_Nova;
		font-size: 120px;
		font-size: 7.6rem;
		line-height: 1em;
		color: rgba(255,255,255,.25);
		margin-top: 2.7rem;
		margin-bottom: -0.4rem;
		transition: color 0.3s ease;
	}
	p {
		color: rgba(255,255,255,.4);
		font-size: 16px;
		font-size: 1rem;
		transition: color 0.3s ease;
	}
	strong {
		font-size: 20px;
		font-size: 1.2rem;
		color: rgba(255,255,255,.2);
		text-transform: uppercase;
		display: inline-block;
		margin-top: 6rem;
		margin-bottom: 2.3rem;
	}
	li a {
		font-size: 16px;
		font-size: 1.5rem;
    	line-height: 1.7em;
		color: #fff;
		border-bottom: 1px solid rgba(255,255,255,.25);
		text-decoration: none;
		&:hover, &:focus {
			text-decoration: none;
			border-bottom: 1px solid rgba(0,0,0,0);
		}
	}
	.fix-width {
		max-width: 200px;
		max-width: 20rem;
	}
	&:hover, &:focus {
		p.item-descr, h3 {
			color: #fff;
		}
	}
}